{% extends "layout.html" %}

{% block title %}
    {{ candidate.name }}
{% endblock %}

{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/candidate_details.css' %}">
{% endblock links %}

{% block body %}
<main class="container-fluid">
    <form action="{% url 'candidates:details' id=candidate.id %}" method="post"  enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-2">
                <label for="id_entity">Entité</label>
            </div>
            <div class="col-sm-10">
                <input type="text" name="entity" maxlength="255" required="" id="id_entity" value="{{ candidate.entity }}">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <label for="id_entity">Sous-entité</label>
            </div>
            <div class="col-sm-10">
                <input type="text" name="sub_entity" maxlength="255" required="" id="id_sub_entity" value="{{ candidate.sub_entity }}">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <label for="id_position">
                    Profil
                </label>
            </div>
            <div class="col-sm-10">
                <input type="text" name="position" maxlength="255" required="" id="id_position" value="{{ candidate.position }}">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <label for="id_name">Nom</label>
            </div>
            <div class="col-sm-10">
                <input type="text" name="name" maxlength="255" required="" id="id_name" value="{{ candidate.name }}">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <label for="id_teams_interview">Date entretien TEAMS</label>
            </div>
            <div class="col-sm-10">
                <input type="date" name="teams_interview" id="id_teams_interview" value="{{ candidate.teams_interview|date:"Y-m-d" }}">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <label for="id_technical_interview">Date entretien one-to-one technique</label>
            </div>
            <div class="col-sm-10">
                <input type="date" name="technical_interview" id="id_technical_interview" value="{{ candidate.technical_interview|date:"Y-m-d" }}">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <label for="id_oto_interview">Date entretien one-to-one avec directeur</label>
            </div>
            <div class="col-sm-10">
                <input type="date" name="oto_interview" id="id_oto_interview" value="{{ candidate.oto_interview|date:"Y-m-d" }}">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">
                <label for="id_cv">Cv</label>
            </div>
            <div class="col-sm-10">
                <div class="cv-container">
                    <a href="/media/{{ candidate.cv }}" target="_blank" class="download-button"><span>Apercu</span></a>
                    <input type="file" class="custom-file-input" name="cv" id="id_cv">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <label for="id_status">Statuts</label>
            </div>
            <div class="col-sm-10">
                <select class="custom-select" name="status" id="id_status">
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">
                <label for="id_comment">Commentaire</label>
            </div>
            <div class="col-sm-10">
                <input type="text" id="id_comment" name="comment" value="{{ candidate.comment }}">
            </div>
        </div>
        
        </div>
        <div class="row">
            <div class="col-sm-9"></div>
            <div class="col-sm-2">
                <button type="submit">Modifier</button>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </form>
</main>

{% endblock body %}

{% block scripts %}
    <script src="{% static 'js/main.js' %}" onload="loadItems('{{candidate.status}}')"></script>
{% endblock scripts %}