{% extends "layout.html" %}

{% block title %}
    Candidate list
{% endblock title %}

{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/candidates_list.css' %}">
{% endblock links %}

{% block body %}
<main>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">
                    <div class="header-container">
                        <span class="header-item">Entité</span>
                    </div>
                </th>
                <th scope="col">
                    <div class="header-container">
                        <span class="header-item">Sous entité</span>
                    </div>
                </th>
                <th scope="col">
                    <label for="position_search">Profil  &nbsp;</label>
                    <input type="text" onkeypress="filter()" id="position_search"/>
                </th>
                <th scope="col">
                    <div class="header-container">
                        <span class="header-item">Nom</span>
                    </div>
                </th>
                <th scope="col">
                    <div class="header-container">
                        <span class="header-item">Entretien TEAMS</span>
                    </div>
                </th>
                <th scope="col">
                    <div class="header-container">
                        <span class="header-item">One-to-one technique</span>
                    </div>
                </th>
                <th scope="col">
                    <div class="header-container">
                        <span class="header-item">One-to-one directeur</span>
                    </div>
                </th>
                <th scope="col">
                    <div class="header-container">
                        <span class="header-item">CV</span>
                    </div>
                </th>
                <th scope="col">
                    <div class="multiselect">
                        <div class="selectBox" onclick="showCheckboxes()">
                            <select class="custom-select">
                                <option>Status</option>
                            </select>
                            <div class="overSelect"></div>
                        </div>
                        <div id="checkboxes">
                            <label for="status-1">
                                <input type="checkbox" id="status-1" onclick="filter()" value="V" checked/>Validé</label>
                            <label for="status-2">
                                <input type="checkbox" id="status-2" onclick="filter()" value="EA" checked/>En attente</label>
                            <label for="status-3">
                                <input type="checkbox" id="status-3" onclick="filter()" value="NR" checked/>Non retenu</label>
                            <label for="status-4">
                                <input type="checkbox" id="status-4" onclick="filter()" value="AB" checked/>Absent</label>
                            <label for="status-5">
                                <input type="checkbox" id="status-5" onclick="filter()" value="NB" checked/>Négotiation</label>
                            <label for="status-all">
                                <input type="checkbox" id="status-all" onclick="filter()" />Tous</label>
                        </div>
                    </div>
                </th>
                <th scope="col">
                    <div class="header-container">
                        <span class="header-item">Commentaire</span>
                    </div>
                </th>
            </tr>
            
        </thead>
        <tbody id="table-content">
            {% comment %} {% for candidate in candidates %}
                <tr>
                    <td>
                        <a href="{% url 'candidates:details' id=candidate.id %}">
                            {{ candidate.name }}
                        </a>
                    </td>
                    <td>
                        {{ candidate.get_status.label }}
                    </td>
                    <td>
                        {{ candidate.position }}
                    </td>
                </tr>
            {% endfor %} {% endcomment %}

    </table>
</main>

{% endblock body %}

{% block scripts %}
    <script src="{% static 'js/main.js' %}" onload="filter()"></script>
{% endblock scripts %}