body {
    background: url(../../media/orange_background.jpg);
}

main form {
    width: 45%;
    height: 420px;
    margin-top: 50px;
    padding: 15px 30px;
    border-radius: 15px;
    border: none;
    position: relative;
    overflow: hidden;
}

.row {
    height: 70px;
}

label {
    color: #010101;
}

h1 {
    width: fit-content;
    text-align: center;
    position: relative;
}


input {
    border-radius: 55px;
    box-shadow: none;
    border: 1px solid #161616;
    height: 40px;
    width: 80%;
    font-size: large;
    padding: 5px 15px;
}

input:hover {
    box-shadow: 0px 0px 3px #f39c12;
    border-color: #242424;
}

input:focus {
    border: 3px solid #f39c12;
    transition-duration: 100ms;
}

button {
    display: block;
    background-color: #f39c12;
    border-radius: 100px;
    padding: 1rem;
    font-weight: bold;
    border: 1px solid #1f1f1f;
    width: 100%;
    color: #fdfdfd;
}

button:hover {
    background-color: #d35400;
}

button:active {
    transform: translate(-1px, -1px);
    background-color: #9f4305;
}

main form * {
    z-index: 2;
}

@keyframes slideIn {
    0% {
        transform : translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
.circle {
    z-index: 0;
    position: absolute;
    top: -300px;
    left: -550px;
    width: 800px;
    height: 800px;
    border-radius: 100%;
    /* border-radius: 1000px; */
    background-color: #f1c40fea;
    animation: 1s ease-out 0s 1 slideIn ;
}